body {
  width: 100%;
  padding: 1%;
  font-family: 'Candal', sans-serif;
        font-weight: normal;
        font-size: 50px;
  background-color: #4D5052;
}

.top-bar {
  background-color: #4D5052;
  color: #fff;
}

ul a{
  font-size: 35px;
  color: #FF1CE1;
}

.accordion{
  background-color: #4D5052;
}

.accordion-title {
  font-size: 30px;
  color: #FF1CE1;
  font-weight: bold;
}

.accordion-title:hover{
  background-color: #4D5052;
}

.accordion-active {
  display: block;
}

.accordion-content {
  font-size: 20px;
  color: #FF1CE1;
  background-color: #4D5052;
}

.description {
  color: #FFF;
}
